/* ############################################################################
###############################################################################
Theme Font Family Variable
###############################################################################
############################################################################ */

$Poppins: 'Poppins',
sans-serif;
$Oswald: 'Oswald',
sans-serif;

/* ############################################################################
###############################################################################
Theme Color Variable
###############################################################################
############################################################################ */

$white-color: #ffffff;
$black-color: #000;
$grey-color:#f4f4f4;
$theme-color: #000;
$heading-color: #222222;
$body-text-color: #888;
$btn-transparent-border: #f5f3fd;
$btn-border-color: rgba(255, 96, 163, 1);
$hr-border-color:#eeeeee;

/* ############################################################################
###############################################################################
Theme Responsive Variable
###############################################################################
############################################################################ */

$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';